<a href="https://colab.research.google.com/github/Haneen-Alahmadi/Data_analysis/blob/main/STC_Task.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd

In [ ]:
!pip install pyxlsb

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting pyxlsb
  Downloading pyxlsb-1.0.10-py2.py3-none-any.whl (23 kB)
Installing collected packages: pyxlsb
Successfully installed pyxlsb-1.0.10

In [ ]:
import pandas as pd    
import pyxlsb

In [ ]:
dataframe = pd.read_excel("/content/stc TV Data Set_T1.xlsb")

In [ ]:
relationHD_programClass = dataframe.groupby(['program_class', 'program_genre']).agg(HD = ('hd', 'sum'))

In [ ]:
relationHD_programClass

                                                      HD
program_class   program_genre
MOVIE           Action                             71448
                Adventure                              1
                Animation                         111550
                Biography                          11616
                Comedy                             39283
                Crime                               2281
                Documentary                         9398
                Drama                              38876
                Family                              3268
                Horror                             25062
                NOT_DEFINED_IN_UMS                  4491
                Sci-Fi                                 0
                Thriller                           14472
                Wrestling                              0
SERIES/EPISODES Action                              4036
                Animation                          36701
                Biography                              0
                Comedy                             21849
                Crime                                 34
                Documentary                          541
                Drama                               8286
                Family                               559
                Horror                               843
                Romance                                0
                SERIES_NOT_ADDED_UNDER_ANY_GENRE       0
                Sci-Fi                               134
                Thriller                             307

In [ ]:
relationHD_programClass.sort_values(by=['HD'], inplace=True, ascending=False)

In [ ]:
relationHD_programClass

                                                      HD
program_class   program_genre
MOVIE           Animation                         111550
                Action                             71448
                Comedy                             39283
                Drama                              38876
SERIES/EPISODES Animation                          36701
MOVIE           Horror                             25062
SERIES/EPISODES Comedy                             21849
MOVIE           Thriller                           14472
                Biography                          11616
                Documentary                         9398
SERIES/EPISODES Drama                               8286
MOVIE           NOT_DEFINED_IN_UMS                  4491
SERIES/EPISODES Action                              4036
MOVIE           Family                              3268
                Crime                               2281
SERIES/EPISODES Horror                               843
                Family                               559
                Documentary                          541
                Thriller                             307
                Sci-Fi                               134
                Crime                                 34
MOVIE           Adventure                              1
SERIES/EPISODES Biography                              0
MOVIE           Sci-Fi                                 0
SERIES/EPISODES Romance                                0
                SERIES_NOT_ADDED_UNDER_ANY_GENRE       0
MOVIE           Wrestling                              0